img {
    width: 512px;
    height: 512px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 15px;
    margin-bottom: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}

p {
    display: flex;
    justify-content: center;  
    align-items: center;     
    text-align: center;       
    padding-top: 30px;
    font-size:25px;
    font-family: 'Courier New', Courier, monospace
  }
  